<!-- Sign Up Page -->
<div class="navbar"></div>

  <div class="col-xs-1 col-sm-3 col-md-4"></div>
  <div class="col-xs-10 col-sm-6 col-md-4">
<!-- Login Form -->
    <div class="well bs-component">
<!-- Title -->
    <h3>GitHub.com</h3> 

<!-- Inputs -->
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <% f.label :name %><br />
        <%= f.text_field :name, placeholder: "name", autofocus: true %>
      </div>

      <div class="field">
        <% f.label :email %><br />
        <%= f.email_field :email, placeholder: "email", autocomplete: "off"  %>
      </div>

      <div class="field">
        <% f.label :password %><br />
        <%= f.password_field :password, placeholder: "password (8 characters minimum)", autocomplete: "off" %>
      </div>

      <div class="field">
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, placeholder: "confirm password", autocomplete: "off" %>
      </div>
      <br />
      <button type="submit">Sign Up</button>

    <% end %>
</div>

<div class="col-xs-1 col-sm-3 col-md-4">
</div>

 
