<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>

<h1><%= current_artist.name %></h1>

<% if current_artist.image.url.present? %>
  <p><img src="http://www.crazyleafdesign.com/blog/wp-content/uploads/2012/10/8-30-spooky-skull-logos.jpg"></a></p>

<% else %>
  <p><%= image_tag current_artist.image.url(:medium) %></p>
<% end %>

About: <%= current_artist.about %> <br />
<br />


<br />
<br />

<% if current_artist.video_info.nil? %>

	Audio: <br />
	<iframe width="560" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= current_artist.soundcloud_address %>"></iframe>

	<% else %>

	Audio: <br />
	<iframe width="560" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= current_artist.soundcloud_address %>"></iframe>

	Video: <br />
	<iframe width="560" height="315" src="<%= current_artist.video_info.embed_url %>" frameborder="0" allowfullscreen></iframe>
<% end %>

<br />
<br />	
<button><a href="/">Back to Account</a></button>