<script type="text/javascript" src="https://w.soundcloud.com/player/api.js"></script>

<% if current_artist.display_name.present? %>

 <h1><%= current_artist.display_name %></h1>

<% else %>

 <h1><%= current_artist.name %></h1>

<% end %>

 

<% if current_artist.image.url != "/images/original/missing.png" %>
	
 <p><%= image_tag current_artist.image.url(:medium) %></p>

<% else %>

  <p><img src="http://www.crazyleafdesign.com/blog/wp-content/uploads/2012/10/8-30-spooky-skull-logos.jpg"></a></p>

<% end %>

<p>About: <%= current_artist.about %></p>
<br />


<br />
<br />
<p>
	<% if current_artist.video_info.nil? %>

		Audio: <br />
		<p><iframe width="560" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= current_artist.soundcloud_address %>"></iframe></p>

		<% else %>

		Audio: <br />
		<p><iframe width="560" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=<%= current_artist.soundcloud_address %>"></iframe></p>

		Video: <br />
		<iframe width="560" height="315" src="<%= current_artist.video_info.embed_url %>" frameborder="0" allowfullscreen></iframe>
	<% end %>
</p>

<br />
<br />	
<button><a href="/">Back to Account</a></button>