<h1>Add artist to Event</h1>

<!-- Artist Search -->
<span style="display:none;" id="<%= @event.id %>" class="event-id"></span>

<div class="field">
  <%= label_tag(:role)%><br />
  <%= select_tag :role, options_for_select(['DJ','Band','Solo'], "DJ"), class: "js-role" %>
</div>
<br />
<div class="field">
  <%= label_tag(:hour)%><br />
  <%= select_tag :hour, options_for_select((1..10)), class: "js-hour" %>
</div>

<br />
<div class="field">
  <%= label_tag(:price)%><br />
  <%= text_field_tag :price, "Price", class: "js-price" %>
</div>

<br />
<p><button class="js-artists">Search</button></p>


<ul class="js-results">
	<h4>Search Results:</h4>
</ul>

<br />
<br />
<p><button><a href="/events/<%= @event.id %>/edit">Back to Edit Event</a></button></p>
<p><button><a href="/">Back to Account</a></button></p>
