<h1>Add artist to Event</h1>

<!-- Login Page -->
<div class="navbar navbar-default navbar-fixed-top navbar-right">
  <div class="navbar navbar-brand-glyphicon">
  <span class="glyphicon glyphicon-headphones"></span>
  </div>
  	<a href="/" class="navbar-brand">Gighub.com</a>
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div> <!-- Closed Container -->
</div><!-- Closed NavBar -->


<div class="create-form">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">

		<!-- Artist Search -->
		<span style="display:none;" id="<%= @event.id %>" class="event-id"></span>

		<h2>Artist Search</h2>
		<div class="field">
		  <%= label_tag(:role)%><br />
		  <%= select_tag :role, options_for_select(['DJ','Band','Solo'], "Artist Type"), :class => "form-control js-role"%>
		</div>

		<br />
		<div class="field">
		  <%= label_tag(:hour)%><br />
		  <%= select_tag :hour, options_for_select((1..10)), :class => "form-control js-hour"%>
		</div>

		<br />
		<div class="field">
		  <%= label_tag(:price)%><br />
		  <%= text_field_tag :price, " ", :class => "js-price" %>
		</div>
		<br />
		<p><button class="js-artists">Search</button></p>
		<br />
		<div class="js-results"></div>

		<p><a href="/events/<%= @event.id %>/edit">Back to Edit Event</a></p>


  	</div>
  	<div class="col-sm-3"></div>
</div>



