<header>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</header>

<h1>Create Event Form</h1>

<!-- Event Form -->
<%= form_for @events do |frm| %>
	<div class="form_group">
		<%= frm.label(:title)%> :
		<%= frm.text_field(:title, :class => "form-control")%>
	</div>
	<div class="form_group">
		<%= frm.label(:time)%> :
		<%= frm.datetime_field(:time, :class => "form-control")%>

	<div class="form_group">
		<%= frm.label(:location)%> :
		<%= frm.text_field(:location, :class => "form-control")%>
	</div>

	<div class="form_group">
		<%= frm.label(:date)%> :
		<%= frm.date_field(:date, :class => "form-control")%>
	</div>

	
<!-- Artist Search -->
	<button id:"search_artist">Search</button>
	<br>
	<button id:"add_artist">Add Artist to Event</button>
	<br>



	<button type="submit">Create New Event</button>
<% end %>
