<!-- Header -->
<div class="divide-head"></div>


<div class="navbar navbar-default navbar-fixed-top navbar-right">
  <div class="navbar navbar-brand-glyphicon">
  <span class="glyphicon glyphicon-headphones"></span>
  </div>
  <a href="/" class="navbar-brand">Gighub.com</a>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
		<li><a href="/hosts/sign_out" data-method="delete">Sign Out</a></li>
      </ul>
    </div><!-- closed sign out -->
  </div> <!-- closed container -->
</div><!-- closed navbar -->

<div class="body-login">
<div class="create-form">
<div class="col-sm-3"></div>
<div class="col-sm-6">

<div class="well bs-component">
	<h2>Create Event</h2>
	<%= form_for @events do |frm| %>
		<div class="form_group">
			<% frm.label(:title)%><br />
			<%= frm.text_field(:title, placeholder:"event name", :class => "form-group")%>
		</div>

		<div class="form_group">
			<% frm.label(:time)%><br /> 
			<%= frm.datetime_field(:time, placeholder:"start time", :class => "form-group")%>
		</div>

		<div class="form_group"><br />
			<% frm.label(:location)%> 
			<%= frm.text_field(:location, placeholder:"address location",:class => "form-group")%>
		</div>

		<div class="form_group"><br />
			<%frm.label(:date)%> 
			<%= frm.date_field(:date, :class => "form-group")%>
		</div>
		<br />
		<button type="submit">Create New Event</button>		
	<% end %>
	<br />
	
</div><!-- close create form -->

<div class="col-sm-3"></div>
</div><!-- close container form -->
</div>

