
<!-- Login Page -->
<div class="navbar navbar-default navbar-fixed-top navbar-right">
  <div class="navbar navbar-brand-glyphicon">
  <span class="glyphicon glyphicon-headphones"></span>
  </div>
  <a href="/" class="navbar-brand">Gighub.com</a>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div> <!-- Closed Container -->
</div><!-- Closed NavBar -->


<div class="body-login">
<div class="col-md-4"></div>
<div class="col-md-4 login-box">


<!-- Login Form -->
<div class="well bs-component">
<!-- Title -->
  <div class="row login-header">
    <span class="glyphicon glyphicon-headphones" id="glyphicon-headphones-login"></span>
    <h3>GigHub.com</h3>
  </div>

<!-- Inputs -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <% f.label :email %><br />
        <%= f.email_field :email, placeholder: "email", autofocus: true %>
      </div>

      <div class="field">
        <% f.label :password %><br />
        <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
      </div>
      <br />

<!-- Login Button -->
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <br />

<!-- Remember Link -->
      <% if devise_mapping.rememberable? -%>
        <div class="field" >
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

    <% end %>
  </div>
<!-- Forgot Password Link -->
    <%= render "devise/shared/links" %>

</div>

<div class="col-md-4">
</div>

