<!-- Login Page -->
<div class="navbar">
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
<!-- Login Form -->
  <div class="well bs-component">
<!-- Title -->
    <h3>GitHub.com</h3>

<!-- Inputs -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <% f.label :email %><br />
        <%= f.email_field :email, placeholder: "email", autofocus: true %>
      </div>

      <div class="field">
        <% f.label :password %><br />
        <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
      </div>
      <br />

<!-- Login Button -->
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <br />

<!-- Remember Link -->
      <% if devise_mapping.rememberable? -%>
        <div class="field" >
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>

    <% end %>
  </div>
<!-- Forgot Password Link -->
    <%= render "devise/shared/links" %>

</div>
<div class="col-md-4">
</div>
